@import url(/Website-Portfolio/assets/global_files/global.css); 

 
 header {
     width: 100%;
     background-repeat: repeat;
     margin-bottom: auto;
 }
 
 header nav {
     background-color: transparent;
     box-shadow: none;
 }
 
 header .nav-wrapper {
     display: flex;
     flex-direction: row;
     width: 100%;
     margin: 0px;
     padding: 0px 30px 0px 100px;
     align-items: center;
     justify-content: space-between;
 }
 
 header h1 {
     font-size: 3em;
     color: #7ebbd7;
     font-weight: 400;
     margin: 0;
 }
 
 header nav ul {
     display: flex;
     list-style: none;
 }
 
 header nav ul li {
     transition: all 0.2s;
 }
 
 header nav ul li:last-child {
     margin-right: 0;
 }
 
 header nav ul li a {
     text-decoration: none;
     color: #edf2f4;
     font-weight: 300;
     font-size: 1.5em;
     padding: 0px 20px;
     transition: all 0.2s ease 0s;
     white-space: nowrap;
 }
 
 header nav ul li a:hover {
     color: #7ebbd7;
 }
 
 header nav ul li:hover {
     transform: scale(1.1);
 }
 

 
 @media only screen and (max-width: 700px) {
     header h1 {
         font-size: 7vw;
     }
 }
 
 @keyframes flicker {
     0%, 2%, 35%, 37%, 39%, 41%, 100% {
         opacity: 1;
         text-shadow: 0px 0px 10px #7ebbd7;
     }
     1%, 3%, 34%, 36%, 38%, 40% {
         opacity: 0.8;
         text-shadow: none;
     }
 }
 
 header h1 {
     animation: flicker 6s ease-in-out 6.3s infinite alternate both;
 }

 header .error-message {
     font-size: 1.3em;
     color: red;
     text-align: center;
     width: 60%;
     text-align: center;
     margin: 20px auto;
 }

 @media only screen and (max-width: 550px) {
    header .error-message {
         font-size: 0.8em;
    }
}


header .google-btn {
    margin: 10px 0;
}


header #modal-account p {
    text-align: left;
    width: 25%;
    margin: 0px auto;
    font-weight: 800;
}

header #modal-account span {
    font-weight: 300;
}

header .profile-picture {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}