<head>
  <link rel="stylesheet" href="/Website-Portfolio/components/header/header.css" type="text/css">
</head>
<nav>
    <div class="nav-wrapper container-fluid">
        <h1>JAMES TWIN</h1>
        <ul id="nav-mobile" class="right hide-on">
            <li class="logged-in">
                <a href="#" class="modal-trigger" data-target="modal-account">Account</a>
            </li>
            <li class="logged-in">
                <a href="#" class="" id="logout">Logout</a>
            </li>
            <li class="logged-out">
                <a href="#" class="modal-trigger" data-target="modal-login">Login</a>
            </li>
            <li class="logged-out">
                <a href="#" class="modal-trigger" data-target="modal-signup">Sign up</a>
            </li>
        </ul>
    </div>
</nav>


  <!-- SIGN UP MODAL -->
  <div id="modal-signup" class="modal">
    <div class="modal-content" id="signup-modal-content">
      <h4>Sign up</h4><br />
      <form id="signup-form">
        <div class="input-field">
          <input type="email" id="signup-email" required />
          <label for="signup-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="text" id="signup-name" required />
          <label for="signup-name">Choose display name</label>
        </div>
        <div class="input-field">
          <input type="password" id="signup-password" required />
          <label for="signup-password">Choose password</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0 signup-btn" id="signUpButton">Sign up</button>
      </form>
      <button id="google-login" class="btn red darken-1 z-depth-0 google-btn">
        <i class="fab fa-google left"></i> Sign up with Google
      </button>
    </div>
  </div>


   <!-- LOGIN MODAL -->
   <div id="modal-login" class="modal">
    <div class="modal-content" id="login-modal-content">
      <h4>Login</h4><br />
      <form id="login-form">
        <div class="input-field">
          <input type="email" id="login-email" required />
          <label for="login-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="login-password" required />
          <label for="login-password">Your password</label>
        </div>
        <button class="btn yellow darken-2 z-depth-0 login-btn">Login</button>
      </form>
      <button id="google-login" class="btn red darken-1 z-depth-0 google-btn">
        <i class="fab fa-google left"></i> Login with Google
      </button>
    </div>
  </div>


    <!-- ACCOUNT MODAL -->
    <div id="modal-account" class="modal">
        <div class="modal-content center-align">
          <img class="profile-picture" /><br /><br />
          <h4>Account details</h4><br />
          <p>Display Name: <span id="account-name"></span></p>
          <p>Email: <span id="account-email"></span></p>
        </div>
    </div>
