@import url(/assets/global_files/global.css);

header {
    display: flex;
    padding: 30px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-repeat: repeat;
    margin-bottom: auto;
}

header #searchbar {
    margin: auto;
    height: 20px;
}

header h2 {
    display: none;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    transition: all 0.2s;
}

header nav ul li:last-child {
    margin-right: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #edf2f4;
    font-weight: 700;
    font-size: 1.8em;
    padding: 0px 30px;
    transition: all 0.2s ease 0s;
}


header nav ul li a:hover {
    color: #7ebbd7;
}

header nav ul li:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 700px) {
    header nav {
        display: none;
    }
}