<label for="toggle-1" class="toggle-menu">
    <div class="toggle">
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
    </div>
</label>
<input type="checkbox" id="toggle-1">
<nav>
    <h2>MENU</h2>
    <ul>
        <li>
            <a href="/pages/index.html">Home</a>
        </li>
        <li>
            <a href="/pages/projects.html">Projects</a>
        </li>
        <li>
            <a href="/pages/skills.html">Skills</a>
        </li>
        <li>
            <a href="/pages/contact.html">Contact</a>
        </li>
    </ul>
</nav>