<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>
<body>
    <header>
        <label for="toggle-1" class="toggle-menu">
            <div class="toggle">
                <span class="line top"></span>
                <span class="line middle"></span>
                <span class="line bottom"></span>
            </div>
        </label>
        <input type="checkbox" id="toggle-1">

        <nav>
            <ul>
                <li>
                    <a href="/home/home.html">Home</a>
                </li>
                <li>
                    <a href="projects.html">Projects</a>
                </li>
                <li>
                    <a href="/skills/skills.html">Skills</a>
                </li>
                <li>
                    <a href="/contact/contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>