* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #150f19;
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}