* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-image: url(/assets/images/zwartevilt.png);
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
}
