* {
    margin: 0px;
    padding: 0px;
    font-family: "IBM Plex Sans";
}

body {
    background-image: url(images/zwartevilt.png);
    background-repeat: repeat;
    
}

header {
    display: flex;
    padding: 30px;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    background-image: url(images/tactile_noise.webp);
    background-repeat: repeat;
    z-index: 1;

}

#toggle-1 {
    display: none;
}

.toggle-menu {
    display: none;
}

.line {
    display: block;
    height: 5px;
    width: 30px;
    margin: 5px;
    background-color: #edf2f4;
}

nav {
    padding-right: 50px;
}
nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    transition: all 0.2s;
}

nav ul li:last-child {
    margin-right: 30px;
    border: none;
}

nav ul li a {
    text-decoration: none;
    color: #edf2f4;
    font-weight: 800;
    font-size: 2em;
    padding: 0px 20px;
    transition: all 0.2s ease 0s;
}

nav ul li a:hover {
    color: #8ecae6;
}

nav ul li:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 700px) {
    .toggle-menu {
        display: inline-block;
        float: none;
        margin-right: 50px;
    }
    nav {
        display: none;
    }