<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
    <title>James Twin</title>
</head>
    <body>
        <main>
            <div class="overview">
                <div class="title">
                    <span><h1>J</h1><h1>A</h1><h1>M</h1><h1>E</h1><h1>S</h1></span>
                    <span><h1>T</h1><h1>W</h1><h1>I</h1><h1>N</h1></span>
                </div>
                <h6>
                    An IT student at NMIT specializing in Systems Development.
                    I'm passionate about <span>solving problems</span> and creating <span>innovative solutions.</span>
                    Explore my work and feel free to reach out!
                </h6>
            </div>
        </main>
    </body>
</html>