main {
    margin: 100px 0;
}


main h2{
    color: #edf2f4;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    font-size: 6em;
}

@media only screen and (max-width: 1330px) {
    main .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 150px;
    }
    main .container h5 {
        width: 80%;
    }
}

@media only screen and (max-width: 650px) {
    main h2 {
        font-size: 3.5em;
    } 
}

@media only screen and (max-width: 500px) {
    main h2 {
        font-size: 3.5em;
    }
    main .container .skill div {
        width: 80vw;
    }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}


main .container {
    display: flex;
    margin: 100px auto;
    width: 70%;
}

main .container .skill {
    width: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
    flex-grow: 1;
    flex-shrink: 1;
}

main .container h5 {
    font-size: 1.5em;
    color: #edf2f4;
    width: 50%;
    height: 10%;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    margin-top: -100px;
}
main .container .skill i {
    font-size: 15em;
    padding: 40px 60px;
    transition: all 0.5s ease;;
}

main .container .skill div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
main .one {
    color: #1d76b8;
    flex-direction: column;
}

main .two {
    color: #e54d26;
}

main .three {
    color: #f7e018;
}

main .skill:hover {
    flex-grow: 2;
}
main .skill:hover h5 {
    opacity: 1;
}
main .skill:hover div{
    /* background-color: rgba(255, 255, 255, 0.007); */
    border-right: solid 2px white;
    border-left: solid 2px white;
}

main .skill div:hover i {
    transform: translateY(-20%);
}


