<h2>SKILLS</h2>
<div class="container">
    <div class="skill one">
        <div>
            <i class="fa-brands fa-css3-alt"></i><h5>CSS3 skills to design, style, and enhance the appearance of web pages</h5>
        </div>
    </div>
    <div class="skill two">
        <div>
            <i class="fa-brands fa-html5"></i><h5>Ability to create responsive and attractive layouts and designs using HTML5</h5>
        </div>
    </div>
    <div class="skill three">
        <div>
            <i class="fa-brands fa-js"></i><h5>Skills to create interactive web pages with the use of JavaScript</h5>
        </div>
    </div>
</div>