<section>
    <h3>Social Links</h3>
    <ul>
        <li><a href="https://github.com/cryptictwin" target="_blank" aria-label="Check out my GitHub profile"><i class="fa-brands fa-square-github"></i></a>
        
        </li>
        <li><a href="https://www.linkedin.com/in/james-twin-a32452324" target="_blank" aria-label="Check out my linkedin profile"><i class="fa-brands fa-linkedin"></i></a>
            
        </li>
        <li><a href="https://codepen.io/cryptictwin" target="_blank" aria-label="Check out my code pen profile"><i class="fa-brands fa-codepen"></i></a>
            
        </li>
    </ul>
    <p>&copy; 2024 My Website. All rights Reserved.</p>
</section>