

@import url(/assets/global_files/global.css);

footer {
    display: flex;
    color: #d90429;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2vh;
    justify-self: flex-end;
}

footer section h5 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}

footer section ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    gap: 0px;
}

footer section ul li {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 50%;
    transition: all 0.2s;
}

footer section ul li a {
    font-size: 2em;
    color: white;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s;
    padding: 8px 10px;
}

footer section ul li a i {
    transition: all 0.2s ease 0s;
}

footer section ul li:hover a {
    transform: scale(1.1);
    transform: translate(0, -20%);
    background-color: #ffffff;
    cursor: pointer;
}

footer section ul li:nth-child(odd):hover i {
    color: rgb(0, 0, 0);
}

footer section ul li:nth-child(2):hover i {
    color: #0e76a8;
}
