@import url(/Website-Portfolio/assets/global_files/global.css);

footer {
    display: flex;
    color: #e54d26;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 2vh;
    justify-self: flex-end;
}

footer section {
    width: fit-content;
}
footer section p {
    font-size: 0.8em;
    text-align: center;
    color: #edf2f4;
}
footer section h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 5px;
}

footer section ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

footer section ul li {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 50%;
    transition: all 0.2s;
    padding: 0px;
}

footer section ul li a {
    font-size: 2em;
    color: white;
    text-align: center;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s;
    padding: 10px 10px 25px 10px;
}

footer section ul li a i {
    transition: all 0.2s ease 0s;
    width: 30px;
}

footer section ul li a i::before {
    width: 30px;
}

footer section ul li:hover a {
    transform: scale(1.1);
    transform: translate(0, -20%);
    background-color: #ffffff;
    cursor: pointer;
}

footer section ul li:nth-child(odd):hover i {
    color: rgb(0, 0, 0);
}

footer section ul li:nth-child(2):hover i {
    color: #0e76a8;
}

@media only screen and (max-width: 700px) {
    footer section {
        font-size: 3vw;
        width: 80vw;
    }
}