@import url(/assets/global_files/typography.css);

@import url(/assets/global_files/global.css);

footer {
    display: flex;
    color: #d90429;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    justify-self: flex-end;
}

footer section h3 {
    font-size: 2em;
}

footer section ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px
}

footer section ul li {
    display: block;
    background-color: #000101;
    padding: 10px 18px;
    border-radius: 50%;
}

footer section ul li a {
    font-size: 2em;
    color: white;
}

footer section ul li a i {
    transition: all 0.2s ease 0s;
}

footer section ul li:hover i {
    transform: scale(1.1);
    color: #8ecae6;
}
