@import url(/Website-Portfolio/assets/global_files/global.css);


main .overview {
    color: #edf2f4;
    width: 70%;
    text-align: center;
    align-self: center;
    margin: 100px auto;
}

main .overview h2 {
    display: flex;
    color: #edf2f4;
    justify-content: center;
    font-weight: 500;
    font-size: 6em;
}

main .overview .title span {
    display: flex;
}
main .overview h6 {
    font-weight: 200;
    font-size: 2.4em;
}

main .overview h6 a {
    text-decoration: none;
    color: #e54d26;
    font-weight: 900;
    display: inline-block;
    transition: all 0.3s;
}

main .overview h6 a:hover {
    transform: scale(1.2);
}

main .container {
    margin: 100px auto;
    background-color: rgba(233, 224, 224, 0.181);
    padding: 50px;
    width: 600px;
    border-radius: 20px;
}

main label {
    color: white;
    font-weight: 800;
    font-size: 1.5em;
}
main input[type="text"], textarea {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #cccccc;
    outline: none;
    color: #edf2f4;
    margin: 5px 0 70px 0;
    padding: 10px;
    font-size: 1.2em;
    resize: vertical;
}

main input[type="submit"] {
    font-size: 1.3em;
    padding: 7px;
    font-weight: 700;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    main .container {
        width: 80%;
    }
}

@media only screen and (max-width: 650px) {
    main .overview  {
        font-size: 2vw;
    } 
}