<div class="overview">
    <div class="title">
        <span><h1>C</h1><h1>O</h1><h1>N</h1><h1>T</h1><h1>A</h1><h1>C</h1><h1>T</h1></span>
        <span><h1>M</h1><h1>E</h1></span>
    </div>
    <h6>
        Reach out to me via <a href="mailto:jamestwin793@gmail.com">email</a> or fill out the form below
    </h6>
</div>
<div class="container">
    <form action="">
        <label for="fname">First Name</label>
        <input type="text" name="firstname" id="fname">

        <label for="lname">Last Name</label>
        <input type="text" name="firstname" id="lname">

        <label for="email">Email</label>
        <input type="text" name="email-address" id="email">

        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>

        <input type="submit" value="Submit">
    </form>
</div>