<head>
    <link rel="stylesheet" href="/Website-Portfolio/components/contact/contact.css" type="text/css">
</head>
<div class="overview">
    <h2>CONTACT ME</h2>
    <h6>
        Reach out to me via <a href="mailto:jamestwin793@gmail.com">email</a> or fill out the form and i'll get back to you as soon as I can
    </h6>
</div>
<div class="container">
    <form id="contact-form">
        <div class="input-field">
          <input type="text" id="contact-name" required />
          <label for="contact-name">Name</label>
        </div>
        <div class="input-field">
          <input type="email" id="contact-email" required />
          <label for="contact-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="text" id="contact-message" required />
          <label for="contact-message">Message</label>
        </div>
        <button class="contact-form-submit">Submit</button>
    </form>
</div>