<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="contact.css">
    <title>Contact</title>
</head>
    <body>
        <main>
            <div class="overview">
                <div class="title">
                    <span><h1>C</h1><h1>O</h1><h1>N</h1><h1>T</h1><h1>A</h1><h1>C</h1><h1>T</h1></span>
                    <span><h1>M</h1><h1>E</h1></span>
                </div>
                <h6>
                    Reach out to me via <a href="mailto:jamestwin793@gmail.com">email</a> or fill out the form below
                </h6>
            </div>
            <div class="container">
                <form action="">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" id="firstname">

                    <label for="lastname">Last Name</label>
                    <input type="text" name="firstname" id="firstname">

                    <label for="email">Email</label>
                    <input type="text" name="firstname" id="firstname">

                    <label for="message">Message</label>
                    <textarea name="message" id="message"></textarea>
                </form>
            </div>
        </main>
    </body>
</html>