@import url(/Website-Portfolio/assets/global_files/global.css);

section input {
    display: none;
}
section nav {
    display: block;
    height: fit-content;
    width: 300px;
    position: fixed;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to right, #736f75 0%, #3f3e3f 100%);
    transition: 1s ease-out;
    z-index: 2;
    left: -100vw;
    box-shadow: 10px 10px 20px black;
}

section nav h2 {
    color: rgb(179, 179, 179);
    font-weight: 800;
    font-size: 3em;
    margin: 15px 0px 50px 150px;
}

section nav ul {
    display: flex;
    flex-direction: column;
}

section nav ul li {
    list-style: none;
}

section nav ul li a {
    text-decoration: none;
    display: block;
    background-color: rgba(28, 48, 41, 0);
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(228, 164, 164);
    transition: all 0.3s ease;
}

section nav ul li a i {
    text-align: center;
    padding: 0px 10px;
}


section .toggle {
    display: block;
    position: absolute;
    height: 30px;
    width: 40px;
    border-radius: 2px;
    top: 20px;
    left: 15px;
    z-index: 3;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
}

section .toggle .line {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #7ebbd7;
    border-radius: 50px;
    transition: 0.3s ease;
}

section .toggle .top {
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

section .toggle .middle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section .toggle .bottom {
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}



section input[type="checkbox"]:checked ~ nav {
    left: 0px;
}

section input[type="checkbox"]:checked ~ label .toggle{
    position: fixed;
}

section input[type="checkbox"]:checked ~ label .toggle .top {
    top: 47%;
    left: 13%;
    transform: rotate(-45deg);
}

section input[type="checkbox"]:checked ~ label .toggle .middle {
    display: none;
}

section input[type="checkbox"]:checked ~ label .toggle .bottom {
    top: 47%;
    left: 13%;
    transform: rotate(45deg);
}

section nav ul li a:hover {
    color: white;
    background: linear-gradient(to bottom, rgba(28, 48, 41, 0), rgb(28, 48, 41) 5%, rgb(28, 48, 41) 95%, rgba(28, 48, 41, 0));
}

@media only screen and (max-width: 400px) {
    section nav {
        width: 100%;
    }
}