<head>
    <link rel="stylesheet" href="/Website-Portfolio/components/side-nav/side_nav.css" type="text/css">
</head>
<input type="checkbox" id="toggle-1">
<label for="toggle-1" class="toggle-menu">
    <div class="toggle">
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
    </div>
</label>

<nav>
    <h2>MENU</h2>
    <ul>
        <li>
            <a href="/Website-Portfolio/pages/index.html"><i class="fa-solid fa-house"></i>Home</a>
        </li>
        <li>
            <a href="/Website-Portfolio/pages/projects.html"><i class="fa-solid fa-diagram-project"></i>Projects</a>
        </li>
        <li>
            <a href="/Website-Portfolio/pages/skills.html"><i class="fa-solid fa-gears"></i>Skills</a>
        </li>
        <li>
            <a href="/Website-Portfolio/pages/contact.html"><i class="fa-solid fa-address-book"></i>Contact</a>
        </li>
    </ul>
</nav>