
    <h2>PROJECTS</h2>
    
    <section>
        <div class="project one">
            <a href="/projects/link" target="_blank">
                <div class="card">
                    <div class="thumbnail">
                        <img src="/Website-Portfolio/assets/images/carousel.webp" alt="Project Thumbnail">
                    </div>
                    <h5>Skills Applied <i class="fa-solid fa-sort-down"></i></h5>
                    <div class="skills-applied">
                        <div><span>HTML</span><i class="fa-brands fa-css3-alt"></i></div>
                        <div>
                            <div></div>
                            <div></div>
                        </div>
                        <div><span>CSS</span><i class="fa-brands fa-html5"></i></div>
                    </div>
                </div>
            </a>
            <div class="project-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam accusamus porro aspernatur quam adipisci aliquid quis voluptatum enim possimus tempore culpa, quisquam quidem similique laborum sapiente consectetur sequi! Magni, quidem?</div>
        </div>
        <div class="project two">
            <a href="/projects/link" target="_blank">
                <div class="card">
                    <div class="thumbnail">
                        <img src="/Website-Portfolio/assets/images/loading.webp" alt="Project Thumbnail">
                    </div>
                    <h5>Skills Applied <i class="fa-solid fa-sort-down"></i></h5>
                    <div class="skills-applied">
                        <div><span>HTML</span><i class="fa-brands fa-css3-alt"></i></div>
                        <div>
                            <div></div>
                            <div></div>
                        </div>
                        <div><span>CSS</span><i class="fa-brands fa-html5"></i></div>
                    </div>
                </div>
            </a>
            <div class="project-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates aliquam quod nobis cumque cum quo ut molestias, eos accusantium non molestiae recusandae repellat unde officiis nesciunt pariatur voluptate, provident quam!</div>
        </div>
        <div class="project three">
            <a href="/projects/link" target="_blank">
                <div class="card">
                    <div class="thumbnail">
                        <img src="/Website-Portfolio/assets/images/colourful-button.webp" alt="Project Thumbnail">
                    </div>
                    <h5>Skills Applied <i class="fa-solid fa-sort-down"></i></h5>
                    <div class="skills-applied">
                        <div><span>HTML</span><i class="fa-brands fa-css3-alt"></i></div>
                        <div>
                            <div></div>
                            <div></div>
                        </div>
                        <div><span>CSS</span><i class="fa-brands fa-html5"></i></div>
                    </div>
                </div>
            </a>
            <div class="project-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates aliquam quod nobis cumque cum quo ut molestias, eos accusantium non molestiae recusandae repellat unde officiis nesciunt pariatur voluptate, provident quam!</div>
        </div>
    </section>
